.grid {
  margin-top: 80px;
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid black 1px;
}

.block {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 20px;
}

.user {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 20px;
}

.ball {
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
